apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ service_name }}
  labels:
    app: {{ service_name }}
    service: {{ service_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ service_name }}
      service: {{ service_name }}
  template:
    metadata:
      labels:
        app: {{ service_name }}
        service: {{ service_name }}
    spec:
      containers:
      - name: db-container
{%- if service_type == 'mysql' %}
        image: astoklas177/apmgamek8s:mysql
        env:
          - name: MYSQL_ROOT_PASSWORD
            value: root
{%- elif service_type == 'mongo' %}
        image: astoklas177/apmgamek8s:mongo
{%- endif %}
        imagePullPolicy: Always
        ports:
{%- if service_type == 'mysql' %}
        - containerPort: 3306
{%- elif service_type == 'mongo' %}
        - containerPort: 27017
{%- endif %}
        resources: {}
        volumeMounts: 
          - name: config-json
            mountPath: /config.json
            subPath: config.json
      volumes:
        - name: config-json
          configMap:
            name: {{ service_name }}-json
